In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler

In [4]:
df= pd.read_csv("C:/Users/Saurabh Kotkar/Downloads/Data-Science-and-Big-Data-Analytics-SPPU-2019-Pattern-main/Data-Science-and-Big-Data-Analytics-SPPU-2019-Pattern-main/GroupA-Assignment5/Social_Network_Ads.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [6]:
X=df.drop(['User ID','Gender' ,'Purchased'],axis=1)
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [7]:
Y=df['Purchased']

In [9]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [45]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)
print("Test and train are sucess fully perform")

Test and train are sucess fully perform

In [51]:
lg=LogisticRegression()
lg.fit(x_train,y_train)
y_predict=lg.predict(x_test)
print("Train Accuracy",lg.score(x_train,y_train)*100)
print("Test Accuracy",lg.score(x_test,y_test)*100)

Train Accuracy 64.0625
Test Accuracy 65.0

In [52]:
scaler=MinMaxScaler()
X=df[['Age','EstimatedSalary']]
X_scaled= scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, Y, test_size=0.2)
print("Training and testing split was successful.")

Training and testing split was successful.

In [57]:
lg1=LogisticRegression()
lg1.fit(x_train,y_train)
y_predict=lg1.predict(x_test)
print("Train Accuracy",lg1.score(x_train,y_train)*100)
print("Test Accuracy",lg1.score(x_test,y_test)*100)

Train Accuracy 63.125
Test Accuracy 68.75

In [58]:
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.metrics import precision_recall_fscore_support

acc=accuracy_score(y_test,y_predict)
print(acc)

0.6875

In [60]:
cm=confusion_matrix(y_test,y_predict)
print(cm)

[[55  0]
 [25  0]]

In [70]:
TN,FP,FN,TP=cm.ravel()
print("Tp",TP)
print("TN",TN)
print("FN",FN)
print("FP",FP)

Tp 0
TN 55
FN 25
FP 0

In [67]:
prf=precision_recall_fscore_support(y_test,y_predict)
print('precision:',prf[0])
print('Recall:',prf[1])
print('fscore:',prf[2])
print('support:',prf[3])

precision: [0.6875 0.    ]
Recall: [1. 0.]
fscore: [0.81481481 0.        ]
support: [55 25]

c:\Users\Saurabh Kotkar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))